<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<script src="./angular.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="./bootstrap.min.css">

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="./bootstrap.min.js"></script>

<script>
	var mainApp = angular.module("mainApp", []);

	mainApp.controller('modalController', function($scope) {
	$scope.rows = ['row1', 'row2', 'row3']; 
	});
</script>

<body>
	<div ng-app="mainApp" ng-controller="modalController">
		<div class="container-fluid">
			<div class="row" ng-repeat="row in rows">
			
			<!-- 3 columns inside each row ROW {{$index+1}}-->
			   <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" ng-repeat="col in rows">
			   	COLUMN
			   </div>
			</div>
		</div>
	</div>
</body>
</html>